/* Setting css to active menu item */
.current-menu-item {
  color: #067fda !important;
}

.navigation {
  position: relative;
}

.page-id-10 {
  background-color:#e5ebf9;
}

.search-page {
  background-color: #209d71;
  padding: 10rem 0;
}